<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.account">
	
	<!-- 회원 등록/가입 -->
	<select id="sequence" resultType="int">
		select account_seq.nextval from dual
	</select>
	
	<insert id="register">
		insert into account(
			account_no,
			account_id,
			account_password,
			account_name,
			account_phone,
			account_birth,
			account_status,
			account_type
		)
		values (
			#{accountNo},
			#{accountId},
			#{accountPassword},
			#{accountName},
			#{accountPhone},
			#{accountBirth},
			#{accountStatus},
			#{accountType}
		)
		
	</insert>
	
	<!-- 회원 상세  -->
	<select id="find" resultType="AccountDto">
		select * from account where account_id = #{accountId}
	</select>
	
	<!-- 존재 유무 판단(아이디(=이메일)) -->
	<select id="checkAccountId" resultType="int">
		select count(*) from account where account_id = #{accountId}
	</select>
	
	<!-- accountNo를 통해 직원, 학생, 학부모 정보 찾기 -->
	<select id="findCorrectly" resultType="AccountTypeNoVO">
		SELECT
		    a.account_no,
		    a.account_type,
		    e.employee_no,
		    s.student_no,
		    p.parent_no
		FROM account a
		LEFT JOIN employee e
		    ON a.account_no = e.account_no
		LEFT JOIN student s
		    ON a.account_no = s.account_no
		LEFT JOIN parent p
		    ON a.account_no = p.account_no
		WHERE a.account_no = #{accountNo}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updateAccountPassword">
		update account
		set
			account_password = #{accountPassword},
			account_utime = systimestamp
		where account_no = #{accountNo}
	</update>
</mapper>