<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.consult">

	<select id="reservationInfo" resultType="reservationDto">
		select	*
		from	reservation
		where	reservation_no = #{reservationNo}
	</select>

	<select id="reservationList" resultType="reservationDto">
		select	*
		from	reservation
		<where>
			<if test="searchName != null and searchName.length() > 0">
			and instr(reservation_name, #{searchName}) > 0
			</if>
			<if test="searchPhone != null and searchPhone.length() > 0">
			and instr(reservation_phone, #{searchPhone}) > 0
			</if>
			<if test="searchType != null and searchType.length() > 0">
			and reservation_type = #{searchType}
			</if>
			<if test="searchStatus != null and searchStatus.length() > 0">
			and reservation_status = #{searchStatus}
			</if>
		</where>
	</select>
	
	<select id="customerSequence" resultType="int">
		select consult_customer_seq.nextval from dual
	</select>
	
	<select id="customerInfo" resultType="ConsultCustomerDto">
		select	*
		from	consult_customer
		where	customer_no = #{customerNo}
	</select>
	
	<select id="customerList" resultType="ConsultCustomerDto">
		select	* 
		from	consult_customer
		<where>
			or	instr(student_name, #{search}) > 0
			or	instr(student_phone, #{search}) > 0
			or	instr(parent_name, #{search}) > 0
			or	instr(parent_phone, #{search}) > 0
		</where>
	</select>
	
	<insert id="customerAdd">
		insert into consult_customer
		(
			customer_no,
			student_name,
			student_phone,
			student_email,
			student_address,
			student_school,
			student_grade,
			student_gender,
			parent_name,
			parent_phone,
			parent_email,
			customer_memo
		) values (
			#{customerNo},
			#{studentName},
			#{studentPhone},
			#{studentEmail},
			#{studentAddress},
			#{studentSchool},
			#{studentGrade},
			#{studentGender},
			#{parentName},
			#{parentPhone},
			#{parentEmail},
			#{customerMemo}
		)
	</insert>
	
	<update id="customerUpdate">
		update	consult_customer
		<set>
				student_name = #{studentName},
				student_phone = #{studentPhone},
				student_email = #{studentEmail},
				student_address = #{studentAddress},
				student_school = #{studentSchool},
				student_grade = #{studentGrade},
				student_gender = #{studentGender},
				parent_name = #{parentName},
				parent_phone = #{parentPhone},
				parent_email = #{parentEmail},
				customer_memo = #{customerMemo},
				customer_utime = systimestamp
		</set>
		where	customer_no = #{customerNo}
	</update>
	
	<update id="reservationUpdate">
		update	reservation
		<set>
	        	reservation_status = #{reservationStatus},
	        <if test="reservationComment != null and reservationComment != ''">
	            reservation_comment = #{reservationComment}
	        </if>
	    </set>
		where	reservation_no = #{reservationNo}
	</update>
</mapper>