<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.course">
	<!-- 특정 강사가 현재 수업중인 강의 목록 -->
	<select id="selectTeachingListByEmployee" resultType="CourseDto">
	    select *
	    from course
	    where employee_no = #{employeeNo}
	      and course_status = '진행중'
	    order by course_no desc
	</select>
	
	<!-- 강좌 등록 -->
	<select id="sequence" resultType="int">
		select course_seq.nextval from dual
	</select>
	<insert id="add">
		insert into course(
			course_no,
			employee_no,
			grade_no,
			course_title,
			course_subject,
			course_limit,
			course_fee,
			course_info,
			course_type			
		) 
		values(
			#{courseNo},
			#{employeeNo},
			#{gradeNo},
			#{courseTitle},
			#{courseSubject},
			#{courseLimit},
			#{courseFee},
			#{courseInfo},
			#{courseType}
		)
	</insert>
</mapper>