<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.parent">
	<!-- 학부모 회원가입 -->
	<select id="sequence" resultType="int">
		select parent_seq.nextval from dual
	</select>
	
	<insert id="join">
		insert into parent(
			parent_no,
			account_no
		) 
		values(
			#{parentNo},
			#{accountNo}
		)
	</insert>
	<!-- accountNo로 학부모 조회 -->
	<select id="findByAccountNo" resultType="parentDto">
		select * from parent where account_no = #{accountNo}
	</select>
	<!-- accountNo로 학생 학부모 관계 테이블 조회 -->
	<select id="findParentStudentByAccountNo" resultType="parentStudentDto">
		select * from 
		parent p join 
		parent_student ps on p.parent_no = ps.parent_no 
		where p.account_no = #{accountNo}
	</select>
</mapper>